.card {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px ;
}

.title {
 font-size: large;
 font-weight: bold;
 padding-bottom: 10px;
 display: flex;
 flex-direction: row;
 gap: 10px;
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}