/* VARS */
:root {
  --headerbar-h: 63px;
}

@media (min-width: 768px) {
  :root {
    --headerbar-h: 75px;
  }
}

/* LAYOUT */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;1,400;1,800&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

/* UTILS */
.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.box-shadow-sm {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.headerbar {
  height: var(--headerbar-h);
  justify-content: space-between;
  align-items: center;
}

.map-container {
  height: calc(100vh - var(--headerbar-h));
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

tbody td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
