@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffffff;
    font-family: "Inter", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table > tr > td {
    padding: 5px;
    vertical-align: baseline;
    /*width: 1px;*/
}